.contactpage__wrapper {
  padding: 35px;
}

.contact-form {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input,
.textarea {
  background-color: rgb(240, 240, 240);
  width: 100%;
  padding: 10px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.textarea {
  height: 120px;
  resize: vertical;
  resize: none;
}

.submit-btn {
  align-self: flex-end;
  padding: 10px 20px;
  background-color: #ff7a00;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
  display: block;
}
.contact__text {
    margin: 10px;
    font-size: 20px;
}
.o {
  color: #ff7a00;
}
