@use '../style/variables.scss' as *;
// ----- Hero -----
.hero {
    position: relative;
    width: 100%;
    height: 70vh;
    .hero__video {
        filter: grayscale(100%);
        position: relative;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

// ----- Popular Products -----
.popularProducts {
    padding: 20px 35px 50px 35px;
    .popularProducts__top {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
            color: $gray4-color;
            text-transform: uppercase;
        }

    }
}


// ----- What We Do -----
.whatWeDo {
    padding: 40px 35px;
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    p {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .whatWeDo__left {
        max-width: 800px;
        width: 100%;
    }
  
    .whatWeDo__right__ul {
        margin-bottom: 20px;
    }
}