@use "../style/variables.scss" as *;
// ----- Hero -----
.hero {
  position: relative;
  width: 100%;
  height: 70vh;
  .hero__video {
    filter: grayscale(100%);
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

// ----- Popular Products -----
.popularProducts {
  padding: 20px 35px 50px 35px;
  .popularProducts__top {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      color: $gray4-color;
      text-transform: uppercase;
    }
  }
    padding: 20px 35px 50px 35px;
    .popularProducts__top {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
            color: $gray4-color;
            text-transform: uppercase;
        }
    }
    .popularProducts__grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 20px;
    }

}

// ----- What We Do -----
.whatWeDo {
  padding: 40px 35px;
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .whatWeDo__left {
    max-width: 800px;
    width: 100%;
  }

  .whatWeDo__right__ul {
    margin-bottom: 20px;
  }
}

.homepage__newsletter {
  background: $gray1-color;
  padding: 2.375rem;
  height: 16.5625rem;
  &__container {
    background: white;
    height: 11.375rem;
    text-align: center;
    padding: 20px;
    &__title {
      font-weight: 600;
      font-size: 24px;
      margin-bottom: 20px;
      text-transform: uppercase;
    }
    &__text {
      font-size: 14px;
      margin-bottom: 20px;
    }
    &__form {
      display: flex;
      gap: 20px;
      justify-content: center;
      &__input {
        background: $gray2-color;
        width: 24rem;
        font-size: 20px;
        padding: 0.5rem;
      }
      &__button {
        background: $appelsin-color;
        color: white;
        height: 38px;
        width: 128px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .popularProducts {
    padding: 20px 15px 30px 15px;
  }
  .popularProducts__top {
    flex-direction: column;
    gap: 20px;
  }
  .homepage__newsletter {
    padding: 1rem;
    &__container__form {
        padding: 5px;
      &__input {
        font-size: 14px;
        height: 45px;
      }
      button {
        height: 45px;
        font-size: 13px;
      }
    }
  }
}
