.hero {
    position: relative;
    width: 100%;
    height: 70vh;
    .hero__video {
        filter: grayscale(100%);
        position: relative;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
