@use "../style/variables.scss" as *;

.productsDetails {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  &__title {
    color: $gray4-color;
    font-size: 48px;
    font-weight: 600;
  }
  &__section {
    display: flex;
    gap: 10rem;
    &__figure {
      img {
        width: 337px;
        height: 182px;
      }
    }
    &__info {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      &__color {
        width: 20px;
        display: flex;
        gap: 10px;
        &__button {
            &__circle {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 30px;
                width: 30px;
                border-radius: 100%;
            }
        }
      }
      &__pricing {
        display: flex;
        justify-content: space-between;
        &__price {
          font-weight: 600;
          font-size: 24px;
        }
        &__stock {
          display: flex;
          align-items: center;
          gap: 3px;
          .stock__circle.red {
            background-color: red;
          }
          .stock__circle.green {
            background-color: green;
          }
          .stock__circle.orange {
            background-color: orange;
          }
        }
      }
      &__cart {
        display: flex;
        gap: 1.5rem;
        align-items: center;
        &__cartButton {
          background: $appelsin-color;
          color: white;
          width: 90%;
          height: 45px;
        }
      }
    }
  }
}

.productCard__compare {
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 14px;
  width: 6rem;
  margin: 0 0 0 auto;
  svg {
    transform: rotate(90deg);
  }
}

.stock__circle {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
}

@media only screen and (max-width: 800px) {
  .productsDetails {
    &__section {
      gap: 1rem;
      &__figure {
        img {
          width: 150px;
          object-fit: contain;
        }
      }
    }
  }
}
