@use "../style/variables.scss" as *;

.shoppage__wrapper {
  padding: 35px;
  h2 {
    font-size: 48px;
    margin-bottom: 40px;
    color: $gray4-color;
  }
}

.products {
  display: flex;
  gap: 30px;
}

// ----- Filters -----
.sort {
  width: 250px;

  h3 {
    font-weight: normal;
    margin-bottom: 10px;
  }

  .sort__by {
    margin-bottom: 15px;
  }

  .sort__by__type {
    padding: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $gray2-color;
    cursor: pointer;
    user-select: none;

    svg {
      transition: transform 0.3s ease;

      &.rotated {
        transform: rotate(180deg);
      }
    }
  }

  .sort__by__type__wrapper {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background-color: $gray1-color;

    &.open {
      max-height: 500px;
    }

    li {
      padding: 8px 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $gray2-color;
      cursor: pointer;

      &:hover {
        background-color: $gray2-color;
      }

      input[type="checkbox"] {
        cursor: pointer;
      }
    }
  }
}

// ----- Products -----
.products__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex: 1;
}
