@use "../style/variables.scss" as *;

.shoppage__wrapper {
  padding: 35px;
  h2 {
    font-size: 48px;
    margin-bottom: 30px;
    color: $gray4-color;
  }
}

.products {
  display: flex;
  gap: 30px;
}

// ----- Filters -----
.sort {
  width: 250px;

  h3 {
    font-weight: normal;
    margin-bottom: 10px;
    margin-left: 7px;
  }

  .sort__by {
    margin-bottom: 15px;
  }

  // Sort by type
  .sort__by__type {
    padding: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $gray2-color;
    cursor: pointer;
    user-select: none;
    position: relative;
    z-index: 67;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.05);
    svg {
      transition: transform 0.3s ease;

      &.rotated {
        transform: rotate(180deg);
      }
    }
  }
  //
  .sort__by__type__wrapper {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background-color: $gray2-color;

    &.open {
      max-height: 500px;
    }

    label {
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $gray2-color;
      cursor: pointer;

      &:hover {
        background-color: rgb(225, 225, 225);
      }
    }
    // Price
    .price {
      padding: 7px;
      display: flex;
      align-items: center;
      gap: 10px;
    }
    .price__box {
      border-radius: 5px;
      background-color: #fafafa;
      padding: 4px 8px;
      display: flex;
      align-items: center;
      gap: 5px;
    }
    .price__input {
      background-color: #fafafa;
      width: 70px;
      padding: 5px;
    }
    .price__input::-webkit-outer-spin-button,
    .price__input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}


// ----- Products -----
.products__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  flex: 1;
}

