@use "./variables.scss" as *;

// Sigma Button
.sigmaBtn {
  font-size: 14px;
  background-color: $appelsin-color;
  color: white;
  border-radius: 2px;
  padding: 10px 30px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
}
.sigmaBtn:hover {
  cursor: pointer;
  background-color: #de5d00;
}

// ProductCard
.productCard {
  padding: 15px;
  box-shadow: 0 4 10 rgba(0, 0, 0, 0.25);
  background-color: white;
  max-width: 260px;
  width: 100%;
  .productCard__img {
    width: 100%;
    img {
        width: 100%;
    }
  }
}
