@use "./variables.scss" as *;

// Sigma Button
.sigmaBtn {
  font-size: 14px;
  background-color: $appelsin-color;
  color: white;
  border-radius: 2px;
  padding: 10px 30px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
}
.sigmaBtn:hover {
  cursor: pointer;
  background-color: #de5d00;
}

// ProductCard
.productCard {
  position: relative;
  padding: 15px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: white;
  width: 280px;
  height: 380px;
  text-align: center;
  .productCard__img {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 180px;
    }
  }

  .productCard__content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 150px;
    p {
      font-size: 14px;
    }
    h4 {
      font-size: 18px;
    }
    .productCard__content__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        display: flex;
        align-items: center;
        gap: 5px;
      }
      .stock__circle {
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 100%;
      }
    }

    .stock__circle.red {
      background-color: red;
    }
    .stock__circle.green {
      background-color: green;
    }
    .stock__circle.orange {
      background-color: orange;
    }
  }
}
.productCard:hover {
  cursor: pointer;
  box-shadow: 2px 2px 4px lightgray;
}

// Out of stock
.productCard.noStock {
  background-color: lightgray;
}
.productCard.noStock:hover {
  cursor: auto;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}
.outOfStockBtn {
  text-decoration: line-through;
  background-color: gray;
}
.outOfStockBtn:hover {
  cursor: auto;
  background-color: gray;
}
// Different style for card in popular section Home.jsx
.productCard.popular {
  height: 330px;
  h4 {
    font-size: 24px;
  }
  .productCard__img {
    height: 120px;
  }
  figcaption {
    div:nth-child(3) {
      display: flex;
      justify-content: center;
    }
  }
}
