@use "./variables.scss" as *;

// Sigma Button
.sigmaBtn {
  font-size: 14px;
  background-color: $appelsin-color;
  color: white;
  border-radius: 2px;
  padding: 10px 30px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
}
.sigmaBtn:hover {
  cursor: pointer;
  background-color: #de5d00;
}

// ProductCard
.productCard {
  position: relative;
  padding: 25px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: white;
  width: 260px;
  height: 330px;
  text-align: center;
  .productCard__img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    img {
      height: 80px;
      width: 180px;
    }
  }
  .productCard__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    p {
      font-size: 14px;
      font-weight: bold;
    }
    .productCard__content__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  // Compare Button
  .productCard__compare {
    padding: 7px;
    display: flex;
    align-items: center;
    gap: 5px;
    text-transform: capitalize;
    position: absolute;
    top: 0;
    right: +0;
  }
  .productCard__compare:hover {
    cursor: pointer;
    background-color: rgb(221, 221, 221);
  }
  .adjust__icon {
    transform: rotate(90deg);
  }
}
