@use "./variables.scss" as *;
@use "./components.scss";
// Resets
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  color: black;
  text-decoration: none;
}
button {
  font-family: $font;
  border: none;
  background: none;
}
ul {
  list-style: none;
}

input {
  border: none;
}
input:focus {
  border: none;
  outline: none;
}
// ----- Page Styling -----
body {
  background-color: $gray1-color;
  font-family: $font;
}
.page__title {
  font-size: 48px;
  color: $gray4-color;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.sigmaBtn {
  background-color: $appelsin-color;
  font-size: 14px;
  background-color: $appelsin-color;
  color: white;
  border-radius: 2px;
  padding: 10px 30px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
}
.sigmaBtn:hover {
  cursor: pointer;
  background-color: #de5d00;
}
