@use './variables.scss' as *;
@use './components.scss';
// Resets
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a {
    color: black;
    text-decoration: none;
}
button {
    font-family: $font;
    border: none;
    background: none;
}
ul {
    list-style: none;
}

input {
    border: none;
}
input:focus {
    border: none;
    outline: none;
}
// ----- Page Styling -----
body {
    background-color:  $gray1-color;
    font-family: $font;
}
h2 {
    color: #333;
    font-size: 32px;
}
.sigmaBtn {
    background-color: $appelsin-color;
    
}