@use './variables.scss' as *;
@use './components.scss';
// Resets
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
button {
    border: none;
    background: none;
}
ul {
    list-style: none;
}

input {
    border: none;
}
// ----- Page Styling -----
body {
    background-color:  $gray2-color;
    font-family: $font;
}