//Fonts
@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans-VariableFont_wdth,wght.ttf");
}
$font: "OpenSans";
// Colors
$gray1-color: #f4f4f2;
$gray2-color: #e8e8e8;
$gray3-color: #bbbfca;
$gray4-color: #495464;
$golden-color:#A39161;
$appelsin-color: #ff6900;
