@use "../style/variables.scss" as *;

.footer {
  background: black;
  color: white;
  font-family: $font;
  display: flex;
  flex-direction: column;
  padding: 3.5rem 5rem 1.5rem 5rem;
  &__container {
    display: flex;
    justify-content: space-around;
  }
  &__ul {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
    &__ {
      font-size: 18px;
    }
    &__h3 {
      font-weight: normal;
      font-size: 18px;
    }
    &__li {
      font-size: 14px;
    }
  }
  .phone {
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    span {
      width: 1rem;
    }
  }
  a {
    text-decoration: none;
    color: white;
  }
  &__div {
    border-top: solid 1px $gray3-color;
    margin-top: 1rem;
    padding: 1rem;
    &__ul {
      display: flex;
      flex-direction: row;
      gap: 5px;
    }
    &__container {
      font-size: 8px;
      display: flex;
      justify-content: space-between;
    }
  }
}

// sigma
@media only screen and (max-width: 678px) {
  .footer {
    margin-bottom: 67px;
    flex-direction: column;
    padding: 2rem;
    &__container {
      flex-direction: column;
      justify-content: center;
      gap: 40px;
    }
    &__ul {
      display: flex;
      align-items: center;
    }

    &__div__ul {
      display: flex;
      justify-content: center;
      gap: 7px;
      margin-bottom: 20px;
    }
    &__div__container {
      gap: 10px;
      flex-direction: column;
      align-items: center;
    }
  }
}
