@use "../style/variables.scss" as *;
// ----- HEADER -----
.navBar {
  display: none;
}
.header {
  padding: 15px 35px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  .header__links {
    display: flex;
    align-items: center;
    gap: 20px;
    a {
      font-size: 14px;
      text-transform: uppercase;
      color: white;
      img {
        width: 55px;
      }
    }
  }
  // Header shop hover menu
  .header__shop {
    position: relative;
  }
  .header__shopMenu {
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-3%, 103%);
    z-index: 67;
    background-color: white;
    width: 300px;
    height: 450px;
    h2 {
      margin-bottom: 20px;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 15px;
      li {
        font-size: 22px;
        color: $golden-color;
      }
    }
  }
  .header__shopMenu::after {
    content: "";
    position: absolute;
    background-color: white;
    top: -5px;
    transform: rotate(45deg);
    left: 20px;
    width: 10px;
    height: 10px;
  }

  // Header Tools
  .header__tools {
    display: flex;
    align-items: center;
    gap: 20px;
    .header__tools__input {
      position: relative;
      input {
        border-radius: 3px;
        padding: 10px;
        font-size: 12pxF;
        width: 200px;
      }
      input::placeholder {
        color: black;
      }
      button {
        cursor: pointer;
        position: absolute;
        top: 25%;
        right: 3px;
      }
    }
  }
}

// ----- NavBarPhone -----
.navBar {
  box-shadow: 0px -3px 5px 0px rgba(50, 50, 50, 0.75);
  padding: 20px 35px;
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 0;
  max-width: 600px;
  width: 100%;
  background-color: black;
  ul {
    display: flex;
    justify-content: space-between;
  }
}
// burger menu
.burger {
  position: relative;
}
.burger__btn {
  height: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 5px;
  span {
    border-radius: 5px;
    width: 22px;
    height: 3px;
    background-color: white;
  }
}
.burger__btn.open {
  span {
    background-color: $appelsin-color;
    transition: transform 0.3s ease-in;
  }
}
.burger__btn.open span:nth-child(2) {
  display: none;
  visibility: hidden;
}
.burger__btn.open span:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
.burger__btn.open span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}
//
.burgerOpen {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 400px;
  position: fixed;
  z-index: 99;
  background-color: black;
  color: white;
  right: 0;
  bottom: 67px;
  transform: visibility 0.3s ease;
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    a {
      color: white;
    }
  }
}

// ----- Responsive -----
@media (max-width: 690px) {
  .header {
    input {
      display: none;
    }
  }
}

@media (max-width: 600px) {
  .header {
    display: none;
  }
  .navBar {
    display: block;
  }
}
