@use "../style/variables.scss" as *;
// ----- HEADER -----
.header {
  padding: 15px 35px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  .header__links {
    display: flex;
    align-items: center;
    gap: 20px;
    a {
      font-size: 14px;
      text-transform: uppercase;
      color: white;
      img {
        width: 55px;
      }
    }
  }
  // Header shop hover menu
  .header__shop {
    position: relative;
  }
  .header__shopMenu {
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-3%, 103%);
    z-index: 67;
    background-color: white;
    width: 300px;
    height: 450px;
    h2 {
      margin-bottom: 20px;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 15px;
      li {
        font-size: 22px;
        color: $golden-color;
      }
    }
  }
  .header__shopMenu::after {
    content: "";
    position: absolute;
    background-color: white;
    top: -5px;
    transform: rotate(45deg);
    left: 20px;
    width: 10px;
    height: 10px;
  }

  // Header Tools
  .header__tools {
    display: flex;
    align-items: center;
    gap: 20px;
    .header__tools__input {
      position: relative;
      input {
        border-radius: 3px;
        padding: 10px;
        font-size: 12pxF;
        width: 200px;
      }
      input::placeholder {
        color: black;
      }
      button {
        cursor: pointer;
        position: absolute;
        top: 25%;
        right: 3px;
      }
    }
  }
}
